
html::-webkit-scrollbar, body::-webkit-scrollbar, .x-scroll-box {
	display: none;
	display: none !important;
}

article {
	position: fixed;
	z-index: 10;
	width: calc(100vh + 5vw);
	max-width: 95vw;
	left: 0;
	right: 0;
	top: 1vh;
	opacity: 1;
	transition: top 0.5s, opacity 0.5s;
	margin: 0 auto;
}

article.hide {
	top: 100vh;
	opacity: 0;
}

figcaption {
	background: #ECEFF1;
	padding: 2vh 0;
	font-size: 2.25vh;
	border-bottom: 2px solid #B0BEC5;
}

h5 {
	font-size: 3vh;
	overflow: ellipsis;
	font-weight: normal;
}

h6 {
	font-size: 2.5vh;
	font-weight: bold;
}

.article-heading {
	text-align: center;
	padding-right: 6vh;
	flex-grow: 1;
	line-height: 1.25;
	letter-spacing: 0.05em;
	text-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.75);
}

.article-body {
	border-radius: 3vh;
	background: white;
	box-shadow: 0 0 20vh -10vh black, 0 0 0 9999px #0000007f;
	overflow: hidden;
	font-family: 'Roboto Slab', sans-serif;
}

.article-body > div {
	overflow-y: scroll;
	height: 85vh;
}
.article-body > div > div {
	margin: 4vh 0 5vh 0;
	overflow: hidden;
}

.article-body p {
	margin: 0;
	padding-right: calc(5vh + 1vw);
	padding-left: calc(5vh + 1vw);
}

p {
	line-height: 1.5;
}

.article-body p + p {
	margin-top: 0.75em;
}

article nav {
	height: 10vh;
	display: flex;
	align-items: center;
	color: white;
	position: relative;
	z-index: 2;
}

article header button {
	position: absolute;
	height: 10vh;
	width: 10vh;
	color: white;
	background: #333333;
	mix-blend-mode: soft-light;
	-webkit-backdrop-filter: blur(0.5vh);
	backdrop-filter: blur(0.5vh);
	opacity: 0.9;
}

article header button span {
	padding: 2.5vh 2vh;
}

#left {
	top: 20vh;
	left: -5vh;
	text-align: right;
}

#right {
	top: 20vh;
	right: -5vh;
	text-align: left;
}

a, button {
	cursor: pointer;
}

article button {
	text-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.5);
	-webkit-appearance: none;
	appearance: none;
	border: none;
	color: inherit;
	border-radius: 100%;
	vertical-align: top;
	line-height: 1 !important;
	font-size: 5vh;
}

article nav button {
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	height: 6vh;
	width: 6vh;
	padding: 0;
	position: relative;
}

.display, figcaption {
	font-family: 'Roboto', sans-serif;
	line-height: 1.25 !important;
}

button span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.article-body header {
	margin: 3vh 0;
	position: relative;
}

.x-scroll-box {	
	overflow-x: scroll;
	width: 100%;
	scroll-snap-type: x mandatory;
}

.article-body header figure {
	scroll-snap-align: start;
}

.article-body header figure img {
	height: 50vh;
	width: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
}

* {
	box-sizing: border-box;
}

html, body {
	background: #ECEFF1;
	margin: 0;
	font-size: 2.5vh;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	color: #263238;
	scroll-behavior: smooth;
	font-variant-numeric: proportional-nums;
	font-kerning: normal;
}

.container {
	display: flex;
	position: absolute;
	width: min-content;
	transition: filter 0.5s;
	filter: none;
}

.popup-open.container {
	filter: blur(1vh) saturate(1.25);
	pointer-events: none;
}

aside {
	width: 50vh;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 15vh 10vh;
}

a {
	color: #039BE5;
	transition: color 0.25s;
}

aside a {
	font-size: 3vh;
	position: absolute;
	bottom: 15vh;
	left: 10vh;
	width: 30vh;
	line-height: 1.25;
}

a:hover {
	color: #FF1744 !important;
	animation: none;
}

main {
	height: 100vh;
	top: 0;
	position: relative;
	padding-top: 4vh;
}

h1, h2, h3, h4, h5, h6, figure, figcaption {
	margin: 0;
}

h1 {
	font-weight: 900;
	font-size: 6vh;
}

h2 {
	font-size: inherit;
	font-weight: bold;
}

.timeline-summary-viewbox .bar {
	text-shadow: 0 0 1px white, 0 0 2px white;
}
.timeline-summary-viewbox .dot {
	text-shadow: 0 0 2px white, 0 0 3px white;
}

h3 {
	margin: 1vh 0 0 1vh;
	font-weight: normal;
}

h3 span {
	color: #607D8B;
	font-size: 90%;
}

h2, h3 {
	z-index: 1;
	position: relative;
}

h4 {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	z-index: 3;
	position: absolute;
	left: 1.5vh;
	bottom: 1.5vh;
	font-size: 5vh;
	border-width: 0 0 0.5vh 0.5vh;
	border-style: solid;
	padding: 0 10vh 0 1vh;
	line-height: 0.5;
	height: 4vh;
}

.s-china-india h4 {
	border-color: #F48FB1;
}
.s-africa-islamic h4 {
	border-color: #80CBC4;
}
.s-americas h4 {
	border-color: #FFAB91;
}
.s-europe h4 {
	border-color: #9FA8DA;
}

.timeline {
	font-family: 'Roboto Condensed', sans-serif;
}

.timeline-summary-viewbox {
	height: 24vh;
	align-items: center;
	position: relative;
	transition: background 0.1s;
	background: transparent;
	cursor: zoom-in;
	justify-content: left;
}
.timeline-summary-viewbox:hover {
	background: white;
}
.timeline-summary-viewbox:hover .bar, .timeline-summary-viewbox:hover .dot {
	filter: saturate(1.25);
}

.timeline-summary-viewbox .bar, .timeline-summary-viewbox .dot {
	font-size: 1.5vh;
	position: absolute;
	white-space: nowrap;
	cursor: pointer;
}

.timeline-summary-viewbox .dot {
	width: 2vh;
	height: 2vh;
	margin: -0.5vh -1vh 0 0;
	z-index: 1;
	border-radius: 100% 100%;
}

.timeline-summary-viewbox .dot-details {
	left: 1vh;
	position: absolute;
	top: -1.25vh;
}

.timeline-summary-viewbox .dot-details, h3 {
	white-space: nowrap;
	display: inline-block;
	transform: translateX(-50%);
	text-align: center;
}

.timeline-summary-viewbox .bar {
	padding: 0.5vh;
	transform: translateY(-50%);
	z-index: 2;
	border-radius: 0.5vh;
}

.timeline-summary-viewbox .bar h2 {
	position: -webkit-sticky !important;
	position: sticky !important;
	left: 1vh;
	display: inline-block;
}

.bar:hover, .dot:hover {
	text-shadow: 0 0 0.1vh white, 0 0 0.1vh white, 0 0 0.3vh yellow, 0 0 0.3vh yellow, 0 0 0.5vh greenyellow, 0 0 0.5vh greenyellow;
	box-shadow: 0 0 0.1vh 0.1vh white, 0 0 0.3vh 0.3vh yellow, 0 0 0 0.5vh #ADFF2F7F !important;
	z-index: 4;
}

.s-china-india {
	color: #880E4F;
}
.s-africa-islamic {
	color: #004D40;
}
.s-americas {
	color: #BF360C;
}
.s-europe {
	color: #1A237E;
}

.s-china-india .bar {
	background: linear-gradient(to right, #FFCDD2, #F48FB1);
	box-shadow: inset 0 0 0 1px #F48FB1;
}
.s-africa-islamic .bar {
	background: linear-gradient(to right, #B2EBF2, #80CBC4);
	box-shadow: inset 0 0 0 1px #80CBC4;
}
.s-americas .bar {
	background: linear-gradient(to right, #FFE0B2, #FFAB91);
	box-shadow: inset 0 0 0 1px #FFAB91;
}
.s-europe .bar {
	background: linear-gradient(to right, #D1C4E9, #9FA8DA);
	box-shadow: inset 0 0 0 1px #9FA8DA;
}

.s-china-india .dot {
	background: radial-gradient(#880E4F, #AD1457 calc(0.5vh - 1px), #FFCDD2 0.5vh, #F48FB1);
}
.s-africa-islamic .dot {
	background: radial-gradient(#004D40, #00695C calc(0.5vh - 1px), #B2EBF2 0.5vh, #80CBC4);
}
.s-americas .dot {
	background: radial-gradient(#BF360C, #D84315 calc(0.5vh - 1px), #FFE0B2 0.5vh, #FFAB91);
}
.s-europe .dot {
	background: radial-gradient(#1A237E, #283593 calc(0.5vh - 1px), #D1C4E9 0.5vh, #9FA8DA);
}

section {
	position: fixed;
	height: 80vh;
	top: 10vh;
	box-shadow: 0 0 0 9999px black;
	background: lightgray;
	overflow-x: scroll;
	width: 100vw;
	display: none;
}

.marker.major {
	background: linear-gradient(to bottom, #90A4AE 0.5vh, transparent 1vh, transparent 2.5vh, #B0BEC5 3vh);
	font-size: 1.5vh;
	top: 0;
}

h3, .display {
	color: #455A64;
}

.marker.minor {
	top: 3vh;
	background: linear-gradient(to bottom, transparent, #CFD8DC 1vh);
}

.marker.supreme {
	top: 0;
	width: 3px;
	background: linear-gradient(to bottom, #00B0FF, #81D4FA 5vh);
	margin-left: -1px;
}

.marker {
	width: 1px;
	bottom: 0;
	position: absolute;
	pointer-events: none;
}

@keyframes blend {
	from {
		color: #1A237E;
	}
	to {
		color: #2979FF;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

  .timeline-summary-viewbox .bar {
		text-shadow: 0 0 1px white;
	}
	.timeline-summary-viewbox .dot {
		text-shadow: 0 0 2px white;
	}

}

